%p Someone replied to your comment on this article!

%a{href: @comment.highlight.url}= @comment.highlight.url

%p Check out what they said and keep the conversation going. ✌

%p - The CrowdChecked Team
