.page-container {
  max-width: 600px;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 20px;
}

.highlight-container {
  padding: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin-bottom: 15px;
}
.highlight-title {
  font-size: 20px;
}

.highlight-site {
  font-size: 17px;
  font-style: italic;
  margin-bottom: 15px;
}
